*{
box-sizing:border-box;
}

body{
margin:0;
background:#020617;
color:white;
font-family:Arial, sans-serif;
text-align:center;
min-height:100vh;
background-image:radial-gradient(#1e3a8a 1px,transparent 1px);
background-size:40px 40px;
}


.header{

display:flex;
align-items:center;
justify-content:center;
gap:20px;
padding:20px;

}


.logo img{

width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
box-shadow:0 0 25px #3b82f6;

}


.lang{

background:#2563eb;
color:white;
border:0;
padding:15px 25px;
border-radius:30px;
font-size:18px;

}



.profile{

width:220px;
height:220px;
object-fit:cover;
border-radius:50%;
border:6px solid #60a5fa;
box-shadow:0 0 35px #2563eb;
margin-top:40px;

}



h1{

font-size:42px;
margin-top:30px;

}



h3{

font-size:25px;

}



p{

font-size:22px;
line-height:1.8;
max-width:700px;
margin:auto;
padding:20px;

}



.buttons{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}



.buttons a{

background:#2563eb;
color:white;
text-decoration:none;
padding:18px 40px;
border-radius:40px;
font-size:20px;

}



.whatsapp{

position:fixed;
bottom:25px;
right:25px;
background:#25d366;
color:white;
font-size:40px;
width:70px;
height:70px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;

}


@media(max-width:600px){

h1{
font-size:32px;
}

.profile{
width:180px;
height:180px;
}

}
