*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
background:#020617;
color:white;
font-family:Arial, sans-serif;
min-height:100vh;
text-align:center;
overflow-x:hidden;
}

/* الخلفية */
body::before{
content:"";
position:fixed;
inset:0;
background-image:
radial-gradient(#2563eb 1px,transparent 1px);
background-size:55px 55px;
opacity:.35;
z-index:-1;
}


/* الهيدر */
.header{
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 40px;
}


.header h2{
font-size:28px;
color:#60a5fa;
}


.logo img{
width:75px;
height:75px;
border-radius:50%;
}


/* زر اللغة */
.lang{
background:#2563eb;
color:white;
border:none;
padding:18px 35px;
border-radius:40px;
font-size:20px;
}


/* المحتوى */
.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding-top:30px;
}


/* صورة البروفايل */
.profile{
width:260px;
height:260px;
object-fit:cover;
border-radius:50%;
border:8px solid #60a5fa;
box-shadow:0 0 35px #2563eb;
}


/* العناوين */
h1{
font-size:55px;
margin:40px 20px 20px;
}

h3{
font-size:30px;
margin:20px;
}


p{
font-size:22px;
line-height:2;
max-width:700px;
padding:20px;
}


/* الأزرار */
.buttons{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin-top:30px;
}


.buttons a{
background:#2563eb;
color:white;
text-decoration:none;
padding:18px 45px;
border-radius:40px;
font-size:22px;
}


/* واتساب */
.whatsapp{
position:fixed;
bottom:25px;
right:25px;
background:#22c55e;
width:70px;
height:70px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
}


/* الموبايل */
@media(max-width:600px){

.header{
padding:15px;
}

.header h2{
font-size:22px;
}

.profile{
width:220px;
height:220px;
}

h1{
font-size:38px;
}

h3{
font-size:25px;
}

p{
font-size:19px;
}

}
