*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#020617;
color:white;
font-family:Arial,sans-serif;
min-height:100vh;
text-align:center;
}


/* الهيدر */
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 35px;
direction:ltr;
}


.brand{
display:flex;
align-items:center;
gap:15px;
}


.brand img{
width:70px;
height:70px;
object-fit:cover;
border-radius:50%;
}


.brand h2{
font-size:28px;
color:#60a5fa;
}



.lang{
background:#2563eb;
color:white;
border:0;
padding:15px 30px;
border-radius:35px;
font-size:18px;
}



/* المحتوى */

.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:20px;
}



.profile{
width:260px;
height:260px;
border-radius:50%;
object-fit:cover;
border:7px solid #60a5fa;
box-shadow:0 0 30px #2563eb;
}



h1{
font-size:45px;
margin:35px 0 20px;
}


h3{
font-size:28px;
margin-bottom:20px;
}


p{
font-size:21px;
line-height:1.8;
max-width:650px;
}



.buttons{
margin-top:30px;
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}



.buttons a{
background:#2563eb;
color:white;
text-decoration:none;
padding:15px 45px;
border-radius:40px;
font-size:20px;
}



@media(max-width:600px){

.header{
padding:15px;
}

.brand h2{
font-size:22px;
}

.profile{
width:220px;
height:220px;
}

h1{
font-size:34px;
}

}
